.left-col, .right-col {
    width: 20%;
}
.center-col {
    width: 60%;
    position: relative;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: row;
    min-height: 86vh;
}
.page-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    transform: translate(0px, 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.page-title > span {
    text-align: center;
    font-weight: normal;
    font-size: 13rem;
    margin: 0;
}
.carousel-wrapper {
    position: relative;
    width: 100%;
}
.btns-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.disable-btn {
    opacity: 0.5;
}

.prev-wrapper {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.next-wrapper {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Previous button */
.prev-btn {
    border: none;
    background: none;
    color: #f2ede6;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
}
/* Next button */
.next-btn {
    border: none;
    background: none;
    color: #f2ede6;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
}

/* Previous line */
.prev-line::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #f2ede6;
    position: absolute;
    left: 55px;
}
/* Next line */
.next-line::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #f2ede6;
    position: absolute;
    right: 55px;
}

/* Previous button animation */
.prev-btn-animation {
    transition-property: left;
    transition-duration: 1s;
    left: 10px;
}
/* Previous line animation */
.prev-line-animation::before {
    transition-property: left;
    transition-duration: 1s;
    left: -35px;
}

/* Next button animation */
.next-btn-animation {
    transition-property: right;
    transition-duration: 1s;
    right: 10px;
}
/* Next line animation */
.next-line-animation::before {
    transition-property: right;
    transition-duration: 1s;
    right: -35px;
}