.left-col, .right-col {
    width: 20%;
    position: relative;
    overflow: hidden;
}
.left-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow: visible;
}
.center-col {
    width: 60%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: visible;
}
.content {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}
.title-container {
    width: 100%;
    position: relative;
}
#page-title {
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate(0px, 0px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation-name: slide-in-title 1s 1s forwards;
    animation-duration: 1s;
}
#page-title > div {
    text-align: center;
    font-weight: normal;
    font-size: 11vw;
    margin: 0;
    opacity: 0.6;
}
.carousel-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}
.btns-wrapper {
    width: 10%;
    animation-name: btns-opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.disable-btn {
    opacity: 0.5;
}

.prev-wrapper {
    left: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}
.next-wrapper {
    right: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Previous button */
.prev-btn {
    border: none;
    background: none;
    color: #f2ede6;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
}
/* Next button */
.next-btn {
    border: none;
    background: none;
    color: #f2ede6;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
}

/* Previous line */
.prev-line::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #f2ede6;
    position: absolute;
    left: 55px;
    overflow: visible !important;
}
/* Next line */
.next-line::before {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #f2ede6;
    position: absolute;
    right: 55px;
}

/* Previous button animation */
.prev-btn-animation {
    transition-property: left;
    transition-duration: 1s;
    left: 10px;
    
}
/* Previous line animation */
.prev-line-animation::before {
    transition-property: left;
    transition-duration: 1s;
    left: -35px;
}

/* Next button animation */
.next-btn-animation {
    transition-property: right;
    transition-duration: 1s;
    right: 10px;
}
/* Next line animation */
.next-line-animation::before {
    transition-property: right;
    transition-duration: 1s;
    right: -35px;
}
.slide-to-top {
    animation: slideToTop 1s forwards;
}

.first-image {
    position: absolute;
    top: 450px;
}
.third-image {
    position: absolute;
    top: 35%;
    width: 100%;
}

.first-image > img, .third-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-first-img {
    animation-name: slide-first-img;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translate(0px, 640px);
    z-index: 10;
}
.slide-third-img {
    animation-name: slide-third-img;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translate(0px, 640px);
    z-index: 10;
}

@keyframes slideToTop {
    from {
        top: 90vh;
        transform: translate(0px, 90vh);
        color: #000;


    } to {
        transform: translate(0, 15vh);
        position: fixed;
    }
}

@keyframes slide-first-img {
    from {
        transform: translate(0px, 640px);
    } to {
        transform: translate(0px, -150px);
    }
}

@keyframes slide-third-img {
    from {
        transform: translate(0px, 640px);
    } to {
        transform: translate(0px, -150px);
    }
}
@keyframes btns-opacity {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes slide-in-title {
    from {
        transform: translate(0px, 200px);
        bottom: -100px;
    } to {
        transform: translate(0px, 0px);
        bottom: -80px;
    }
}

@media only screen and (max-width: 768px) {
    .left-col, .right-col, .prev-line, .next-line {
        display: none;
    }
    .center-col {
        width: 100%;
        align-items: center;
    }
    .btns-wrapper {
        z-index: 1000;
    }
    .btns-wrapper:nth-of-type(1) {
        justify-content: flex-end;
    }
    .btns-wrapper:nth-of-type(3) {
        justify-content: flex-start;
    }
    .prev-wrapper, .next-wrapper {
        position: absolute !important;
    }
    .next-btn-animation {
        right: 0px;
    }
    .prev-btn-animation {
        left: 0px;
    }
    .next-btn, .prev-btn {
        border: 1px solid #f2ede6;
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (max-width: 576px) {
    #page-title > div {
        font-size: 16vw;
    }
    .btns-wrapper {
        width: 0;
    }
    .carousel {
        width: 100% !important;
    }
    .prev-wrapper {
        left: 20px;
    }
    .next-wrapper {
        right: 20px;
    }
}

@media only screen and (max-width: 420px) {
    #page-title > div {
        font-size: 20vw;
    }
    .next-btn, .prev-btn {
        border: 1px solid #f2ede6;
        border-radius: 50%;
        height: 55px;
        width: 55px;
    }
    .prev-btn {
        left: -10px;
    }
    .next-btn {
        right: -10px;
    }
}