.view-btn-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}


.view-btn-container {
  position: absolute;
  /* bottom: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
  color: black;
  mix-blend-mode: screen;
  border: 1px solid #FFFFFF;
}

.view-btn {
  width: 60px;
  height: 60px;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  margin: 4px;
}

.fixviewbtn {
  rotate: 0deg !important;
}

@keyframes slideIn {
    from {
        bottom: 35%;
        left: 40%;
        rotate: 0deg !important;
      }
      to {
        rotate: 0deg !important;
        left: 40%;
        bottom: 40%;
      }
}

.fadeIn {
	opacity: 1;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
.fadeOut {
	opacity: 0;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to
  {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  } to
  {
    opacity: 0;
  }
}
