
.view-btn-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  color: black;
  mix-blend-mode: screen;
  border: 1px solid #FFFFFF;

}
.view-btn {
  width: 60px;
  height: 60px;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
  background: #FFFFFF;
  margin: 4px;
}

.slide-in {
    animation-duration: 1s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
        bottom: 0;
      }
      to {
        bottom: 50%;
      }
}