.header {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    height: 10vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 1450px;
    width: 100%;
    animation-name: slide-in-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.artist {
    margin-left: auto;
    margin-right: auto;
    place-self: center;
    text-transform: uppercase;
    /* font-size: 1.2rem; */
    font-size: 1.2vw;
    letter-spacing: 11px;
}

.ext-link {
    background: none;
    border: none;
    padding: 0;
    height: fit-content;
    cursor: pointer;
}

@keyframes slide-in-top {
    from {
        opacity: 0;
        transform: translate(0px, -100px);
    } to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media screen and (max-width: 768px) {
    .artist {
        font-size: 2vw;
    }
    .header-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .button-burger {
        width: 44px !important;
        gap: 6px !important;
    }
    .ext-link {
        width: 44px !important;
    }
    .ext-link > img {
        width: 100%;
        object-fit: contain;
    }
}