html {
  overflow: hidden;
}

:root {
  font-family: 'Prata', serif;
  color: #f2ede6;
}

*{
  box-sizing: border-box;
  cursor: none !important;
}

body {
  margin: 0;
  overflow: hidden;

}

.app {
  min-height: 100dvh;
}


